.App {
  padding: 0 10% 138px;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #F2F2F2;
}

.chart-tile {
  margin-top: 10px;
}

.period-dropdown__calendar .vizlib-calendar__calendar-controls {
  background-color: transparent !important;
  border: none !important;
}

